html {
  background-color: $color-body;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

.bg-dark {
  background-color: black;
}

.border-dark {
  border-color: black;
}

.bg-secondary {
  background-color: #191919;
}
