

body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: $font-body-weight;
  font-style: $font-body-style;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Sans', sans-serif;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
}

a:focus {
  color: inherit;
}
