<div class="container">

	{% section 'featured-jumbotron' %}

	<div class="row">
		<div class="col">
			{% section 'secondary-navigation' %}
		</div>
		<div class="col">
			{% section 'featured-product' %}
		</div>
		<div class="col">
			{% section 'featured-product' %}
		</div>
	</div>

	{% include 'newsletter-signup' %}

	<div class="row">
		<div class="col">
			{% section 'featured-product' %}
		</div>
		<div class="col">
			{% section 'featured-product' %}
		</div>
		<div class="col">
			{% section 'featured-product' %}
		</div>
	</div>

	{% include 'mission-statement' %}

	
</div>