<div class="main-content container pl-0 pr-0">

	<div class="row">
		<div class="col p-0">
			{% section 'featured-jumbotron' %}
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-4 p-0 ">
			{% section 'secondary-navigation' %}
		</div>
		<div class="col-xs-12 col-md-4 bg-dark p-1">
			{% section 'featured-product' %}
		</div>
		<div class="col-xs-12 col-md-4 bg-dark p-1">
			{% section 'featured-product' %}
		</div>
	</div>

	<div class="row">
		<div class="col p-1">
			{% section 'newsletter' %}
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-4  bg-dark p-1">
			{% section 'featured-product' %}
		</div>
		<div class="col-xs-12 col-md-4  bg-dark p-1">
			{% section 'featured-product' %}
		</div>
		<div class="col-xs-12 col-md-4  bg-dark p-1">
			{% section 'featured-product' %}
		</div>
	</div>

	<div class="row">
		<div class="col">
			{% section 'mission-statement' %}
		</div>
	</div>

	
</div>

<style>
	.main-content {
		max-width: 2000px
	}

	.row {
		margin: 0 0 0 0;
	}
</style>