<div class="main-content container pl-0 pr-0">

	<div class="row">
		<div class="col p-0">
			{% section 'featured-jumbotron' %}
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-4 p-0 pr-md-3">
			{% section 'secondary-navigation' %}
		</div>
		<div class="col-xs-12 col-md-4 p-0 pr-md-3">
			{% section 'featured-product' %}
		</div>
		<div class="col-xs-12 col-md-4 p-0">
			{% section 'featured-product-2' %}
		</div>
	</div>

	<div class="row">
		<div class="col p-0">
			{% section 'newsletter' %}
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-4 p-0 pr-md-3">
			{% section 'featured-collection' %}
		</div>
		<div class="col-xs-12 col-md-4 p-0 pr-md-3">
			{% section 'featured-product-3' %}
		</div>
		<div class="col-xs-12 col-md-4 p-0">
			{% section 'featured-product-4' %}
		</div>
	</div>
	
	<div class="row">
		<div class="col">
			{% section 'mission-statement' %}
		</div>
	</div>

	
</div>
