<div class="row">
	<div class="col">
		<div class="alert alert-secondary newsletter-size" role="alert">
		  NEWSLETTER SIGNUP
		</div>
	</div>
</div>

<style>
	.newsletter-size {
		height: 150px;
	}
</style>