<form action="/search" method="get" role="search" class="pr-3 pl-3">
  <div class="input-group input-group-sm">
    <input type="search" 
      name="q"
      id="Search"
      class="form-control" 
      aria-label="Search" 
      placeholder="{{ 'general.search.placeholder' | t }}" 
      value="{{ search.terms | escape }}">
    <div class="input-group-append">
      <button class="input-group btn btn-warning"type="submit">
        {% include 'icon-search' %}
      </button>
    </div>
  </div>
</form>
