    <form action="/search" method="get" role="search" class="w-100 pr-3 pl-3">
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" aria-label="Search" placeholder="{{ 'general.search.placeholder' | t }}">
        <div class="input-group-append">
          <button class="input-group btn btn-warning"type="submit">
            {% include 'icon-search' %}
          </button>
        </div>
      </div>
    </form>

