<div class="row">
	<div class="col">
		<div class="alert alert-warning chat-test-size" role="alert">
		  CONTACT, SOCIAL, EMAIL, CHAT LINKS
		</div>
	</div>
</div>

<style>
	.chat-test-size {
		height: 100px;
	}
</style>