<div class="row fa-3x">
	<div class="col">
		<a href="#" class="grey-text" ><i class="fab fa-facebook"></i></a>
	</div>
	<div class="col">
		<a href="#" class="grey-text" ><i class="fab fa-twitter-square"></i></a>
	</div>
	<div class="col">
		<a href="#" class="grey-text" ><i class="fab fa-pinterest-square"></i></a>
	</div>
	<div class="col">
		<a href="#" class="grey-text" ><i class="fab fa-instagram"></i></a>
	</div>
</div>
<div class="row fa-3x">
	<div class="col">
		<a href="#" class="grey-text" ><i class="fab fa-linkedin"></i></a>
	</div>
	<div class="col">
		<a href="#" class="grey-text" ><i class="fab fa-youtube-square"></i></a>
	</div>
	<div class="col">
		<a href="#" class="grey-text" ><i class="fab fa-google-plus-square"></i></a>
	</div>
	<div class="col">
		<a href="#" class="grey-text" ><i class="fab fa-snapchat-square"></i></a>
	</div>
</div>

<style>
	@media screen and (min-width: 768px) {
		.fab {
			width: .33em;
			height: .33em;
		}
	}
</style>