{% comment %} 
    creates a list of sub collections links related to the given collection,
    if there are any. Requires the collection hierarchy to be correctly
    set up in the Shopify admin navigation page.

    Accepts:
     - collection: {Object} Collection object

    Usage:
    In collection template add following line
    {% include sub-collection-links with collection: collection %}
{% endcomment %}

<p class="mt-3 text-center">
    {% for link in linklists[collection.handle].links %}
        {% assign sub_collection = link.object %}
        {% if forloop.index > 1 %}
            <span> | </span>
        {% endif %}
        <a href="{{ link.url }}" class="font-weight-bold">
            {{ link.title }}
        </a>
    {% endfor %}
</p>