<!-- <div class="row mt-3 mb-3">
	<div class="col">
	  <a href="#">
	    {{ 'product-' | append: 3 | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
	  </a>
	</div>
</div> -->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Product Name</h1>
    <p class="lead">This is a description of a product and it's details, etc.</p>
  </div>
</div>