<section class="row justify-content-center text-center mt-3 mb-3">
	<div class="col-8">
		<h2><strong>{{ section.settings.heading | escape }}</strong></h2>
		<p class="mb-0 lead">{{ section.settings.subheading | escape }}</p>
	</div>
</section>

{% schema %}
  {
    "name": "Mission Statement",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Mission Statement"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "This is the subheading for the mission statement. This is where you tell the customer who you are, what you do, and why you are the best."
      },
      {
        "type": "paragraph",
        "content": "This is the section for the mission statement. This is where you tell the customer who you are, what you do, and why you are the best."
      }
    ],
    "presets": [{
      "name": "Mission Statement",
      "category": "Promotional"
    }]
  }
{% endschema %}