<div class="row">
	<div class="col">
		<div class="alert alert-info test-size" role="alert">
		  SECONDARY NAVIGATION GOES HERE
		</div>
	</div>
</div>

<style>
	.test-size {
		height: 300px;
	}
</style>