<div class="row">
	<div class="col text-right">
		<div class="row">
			<div class="col">
				<ul class="nav flex-column">
				  <li class="nav-item">
				    <a class="nav-link text-dark" href="#">Sale Items</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link text-dark" href="#">MTR Collection</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link text-dark" href="#">Active Shooter / Mass Casualty</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link text-dark" href="#">Batteries</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link text-dark" href="#">Wildland Firefighting</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link text-dark" href="#">AEDs and Defibrillators</a>
				  </li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 class="text-right pr-3">Articles</h4>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<ul class="nav flex-column">
				  <li class="nav-item">
				    <a class="nav-link text-dark" href="#">Article title name 1</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link text-dark" href="#">Article title name 2</a>
				  </li>
				</ul>
			</div>
		</div>
	</div>
</div>